<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="./my.js"></script>
</head>
<h1>Movie Information</h1>
<div *ngFor="let d of data | async; let index=index; let odd=odd; let even=even"
[ngClass]="{ odd: odd, even: even }">
    <table>
        <tr (click)="openAlert(d.actress, d.year)">
            <td>
                Year: {{d.year}}
            </td>
            <td>
                Actress: {{d.actress}}
            </td>
            <td>
                Movie: {{d.movie}}
            </td>
        </tr>
    </table>
</div>